body{
margin:0;
font-family:Arial;
}

/* Top bar */

.topbar{
display:flex;
justify-content:space-between;
padding:15px 25px;
background:black;
color:white;
font-size:24px;
}

/* Profile */

.profile{
cursor:pointer;
position:relative;
}

.profile-menu{
display:none;
position:absolute;
right:0;
top:30px;
background:white;
color:black;
padding:10px;
box-shadow:0 0 10px gray;
}

.profile-menu p{
margin:5px 0;
cursor:pointer;
}

/* Side Menu */

.side-menu{
height:100%;
width:0;
position:fixed;
top:0;
left:0;
background:#333;
overflow-x:hidden;
transition:0.3s;
padding-top:60px;
}

.side-menu a{
display:block;
padding:10px 25px;
color:white;
text-decoration:none;
}

.side-menu a:hover{
background:#575757;
}

/* Hero Section */

.hero{
height:90vh;
background-image:url("food.jpg");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero h1{
font-size:50px;
}

.btn{
padding:12px 25px;
background:orangered;
border:none;
color:white;
font-size:18px;
cursor:pointer;
}
